<h1>Listing carteleras</h1>

<table>
  <tr>
    <th>Pelicula</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carteleras.each do |cartelera| %>
  <tr>
    <td><%= cartelera.pelicula %></td>
    <td><%= cartelera.rating %></td>
    <td><%= link_to 'Show', cartelera %></td>
    <td><%= link_to 'Edit', edit_cartelera_path(cartelera) %></td>
    <td><%= link_to 'Destroy', cartelera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cartelera', new_cartelera_path %>
