<p id="notice"><%= notice %></p>

<p>
  <b>Pelicula:</b>
  <%= @cartelera.pelicula %>
</p>

<p>
  <b>Rating:</b>
  <%= @cartelera.rating %>
</p>


<%= link_to 'Edit', edit_cartelera_path(@cartelera) %> |
<%= link_to 'Back', carteleras_path %>
