<h1>Movies</h1>
<body><IMG SRC="hj.jpg"></body>
<table>
  <tr>
    <th>Nombre</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.nombre %></td>
    <td><%= movie.rating %></td>
    <td><%= link_to 'Mostrar', movie %></td>
    <td><%= link_to 'Editar', edit_movie_path(movie) %></td>
    <td><%= link_to 'Borrar', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Movie', new_movie_path %>
